.leaflet-container {
  width: 100%;
}
.example {
  display: flex;
  flex-direction: column-reverse;
  position: relative;

  .navbar {
    position: relative;
    z-index: 2;
  }

  .contain {
    padding-top: 100px;
    z-index: 1;
  }
}

