.tableContain{
  width: 100%;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
}

.widgets{
  background-color: white;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);


  .widgetText{
    padding: 10px;
    display: block;

    .widgetTitle{
      font-weight: bold;
      font-size: 20px;
    }
    .widgetContext{
      color: gray;
    }
  }

  .widgetContain{
    display: flex;
    padding: 10px;
    gap: 10px;
    .widget{

      &:hover {
        background-color: #fafafa;
        border-style: solid;
        border-color: #d00000;
      }
    }
  }
}

.befo_graph{
  background-color: white;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}