.tableContain{
  width: 100%;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
}

.widgets{
  background-color: white;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);


  .widgetText{
    padding: 10px;
    display: block;
    align-items: center;

    .widgetTitle{
      font-weight: bold;
      font-size: 20px;
    }
    .widgetContext{
      color: gray;
    }
  }

  .widgetContain{
    display: flex;
    padding: 10px;
    gap: 10px;
    .widget{

      &:hover {
        background-color: #fafafa;
        border-style: solid;
        border-color: #d00000;
      }
    }
  }

  .mainContain{
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: space-evenly;
  }

  .table{
    background-color: white;
    padding: 10px;
    //margin: 20px;
  }
  .map{
    background-color: white;
    padding: 10px;
  }
}


.component_box{
  background-color: white;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

  .component_box_title{

  }
}


.diagText{
  padding: 10px;
  display: block;
  align-items: center;
}
.diagTitle{

}

