
.category{
  margin: 0 5px 0 5px;
  padding: 10px;






  .defaultParam{
    justify-content: space-between;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    padding: 10px;

    width: 100%;
    background-color: white;
    align-items: center;
    color: #777777;
    font-weight: bold;

    .arrayTitle{
      font-size: 18px;
    }

    .dailyData{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .dailyDataCount{
        color: #d00000;
        font-weight: bold;
        font-size: 20px;
      }
    }

    .keyCountArray{
      display: flex;
      padding: 0 10px 0 10px;
      justify-content: space-between;
    }
    /* KeyCount Function */
    .keyCount{
      border-style: solid;
      border-color: #d00000;
      padding: 10px;
      margin: 10px 0 10px 10px;
      text-align: center;
      width: 100%;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      border-radius: 10px;

      .keyCount_Key{
        color: #a80b28;
        font-size: 15px;
      }
      .keyCount_value{
        font-size: 15px;
      }
    }


    .resetReason{

      .resetReasonArray{
        display: flex;
        text-align: center;
        padding: 0 10px 0 10px;
        justify-content: space-between;

        .resetReasonList{
          border-style: solid;
          border-color: #d00000;
          padding: 10px;
          margin: 10px 0 10px 10px;
          text-align: center;
          width: 100%;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          border-radius: 10px;

          .resetReasonName{
            font-size: 15px;
          }

          .resetReasonName_List{
            display: flex;
            justify-content: space-between;
            padding: 5px 5px 0 5px;

            .resetReasonList_Key{
              color: #333333;
            }
            .resetReasonList_Value{
              color: #d00000;
            }
          }
        }
      }
    }

    .sat{

    }
  }















  .inputValues{
    justify-content: space-between;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    padding: 10px;

    width: 100%;
    background-color: white;
    align-items: center;
    color: #777777;
    font-weight: bold;

  }
}

.timelineComponent{
  justify-content: space-between;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  padding: 10px;

  width: 100%;
  background-color: white;
  align-items: center;
  color: #777777;
  font-weight: bold;


  .left{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: 500;
      font-size: var(--font-size-sm);
      color: #777777;
    }
    .dataTitle{

      font-weight: 500;
      font-size: var(--font-size-md);
      color: #d00000;
    }

    .counter {
      font-size: var(--font-size-lg);
      font-weight: 400;
    }

    .link {
      width: max-content;
      font-size: var(--font-size-sm);
      border-bottom: 1px solid gray;
    }
  }

  .right {
    /*.css-mhc70k-MuiGrid-root>.MuiGrid-item {
      padding-top: 16px;
      padding-left: 0px;
    }*/

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .percentage {
      display: flex;
      align-items: center;
      font-size: var(--font-size-sm);
      align-self: flex-end;

      &.positive {
        color: green;
      }

      &.negative {
        color: red;
      }
    }

    .count {
      align-items: center;
      font-size: var(--font-size-md);
      margin: 5px 0px 5px 5px;
      align-self: flex-end;
    }

    .icon {
      font-size: var(--font-size-xl);
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
    }
  }
}

