.diagnostic {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  background-color: #F8F9FA; /*#F8F9FA #FFFAF1*/

  .navbar {
    position: relative;
    z-index: 2;
  }

  .contain {
    padding-top: 100px;
    z-index: 1;
  }
}

