.construct{
  display: block;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  width: 100%;

  .construct_top{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .construct_top_titles{
    }
    .construct_top_items{
      display: flex;
      padding-right: 10px;
      align-items: center;
      text-align: center;
      justify-content: center;

      .construct_top_items_dates{
        display: flex;
        color: gray;
        padding-right: 4px;
        font-weight: bold;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
      }
    }
  }

  .construct_component{
    max-width: 100vmax;
    background-color: white;
  }
}

.dataNullConstruct, .dataErrorConstruct{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}