.befoNmscurrentChart{
  display: flex;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
}

.befoTable_Part{
  padding: 10px;
}


@media (max-width: 2660px) {
  .befoTable_Part{
    /*width: 600px;
    height: 500px;*/
  }
}
