
@media (max-width: 2660px) {
  .widget{
    --font-size-xl: 2.5rem;
    --font-size-lg: 2.0rem;
    --font-size-md: 1.2rem;
    --font-size-sm: 1.0rem;

    --padding: 10px 20px 10px 20px;

    .count{
      width: 60px;
    }
  }
  .css-1oqqzyl-MuiContainer-root{
    padding: 0px;
  }
}

@media (max-width: 1640px) {
  .widget{
    --font-size-xl: 2.0rem;
    --font-size-lg: 1.5rem;
    --font-size-md: 1.0rem;
    --font-size-sm: 0.8rem;

    --padding: 5px 10px 5px 10px;

    .count{
      width: 20px;
    }
  }
}

.widget {
  justify-content: space-between;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  padding: 10px;
  /*padding: var(--padding);*/

  .left{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: 500;
      font-size: var(--font-size-sm);
      color: #777777;
    }
    .dataTitle{
      font-weight: 500;
      font-size: var(--font-size-md);
      color: #d00000;
    }

    .counter {
      font-size: var(--font-size-lg);
      font-weight: 400;
    }

    .link {
      width: max-content;
      font-size: var(--font-size-sm);
      border-bottom: 1px solid gray;
    }
  }

  .right {
    /*.css-mhc70k-MuiGrid-root>.MuiGrid-item {
      padding-top: 16px;
      padding-left: 0px;
    }*/

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .percentage {
      display: flex;
      align-items: center;
      font-size: var(--font-size-sm);
      align-self: flex-end;

      &.positive {
        color: green;
      }

      &.negative {
        color: red;
      }
    }

    .count {
      align-items: center;
      font-size: var(--font-size-md);
      margin: 5px 0px 5px 5px;
      align-self: flex-end;
    }

    .icon {
      font-size: var(--font-size-xl);
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
    }
  }
}







.popover_input {
  width:50px;
  text-align: center;
  border: whitesmoke;

  &.running {
    background-color: rgba(0, 128, 0, 0.05);
    color: green;

  }
  &.caution {
    background-color: rgba(255, 217, 0, 0.05);
    color: goldenrod;
  }
  &.warning {
    background-color: rgba(255, 0, 0, 0.05);
    color: crimson;
  }
  &.faulty {
    background-color: rgba(0, 0, 0, 0.05);
    color: whitesmoke;
  }
}

.popover_background{
  cursor:pointer;

  &.running {
    background-color: rgba(0, 128, 0, 0.5);

  }
  &.caution {
    background-color: rgba(255, 217, 0, 0.5);

  }
  &.warning {
    background-color: rgba(255, 0, 0, 0.5);

  }
  &.faulty {
    background-color: rgba(0, 0, 0, 0.5);

  }
}


.popover_percent{
  cursor:pointer;

  &.running {
    color: rgba(0, 128, 0, 0.5);

  }
  &.caution {
    color: rgba(255, 217, 0, 0.5);

  }
  &.warning {
    color: rgba(255, 0, 0, 0.5);

  }
  &.faulty {
    color: rgba(0, 0, 0, 0.5);

  }
}



element.style{
  width:25ch;
}