.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  font-size: 28px;


  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: rgb(160, 160, 160);
    }

    .counter {
      font-size: 28px;
      font-weight: 300;
    }

    .link {
      width: max-content;
      font-size: 12px;
      border-bottom: 1px solid gray;
    }

    .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;

      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }
    .count{
      display: flex;
      align-items: center;
      font-size: 15px;
      margin: 5px;
    }

    .icon {
      font-size: 25px;
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
    }
  }
}

.popover_input {
  width:50px;
  text-align: center;
  border: whitesmoke;

  &.running {
    background-color: rgba(0, 128, 0, 0.05);
    color: green;

  }
  &.caution {
    background-color: rgba(255, 217, 0, 0.05);
    color: goldenrod;
  }
  &.warning {
    background-color: rgba(255, 0, 0, 0.05);
    color: crimson;
  }
  &.faulty {
    background-color: rgba(0, 0, 0, 0.05);
    color: whitesmoke;
  }
}

.popover_background{
  cursor:pointer;

  &.running {
    background-color: rgba(0, 128, 0, 0.5);

  }
  &.caution {
    background-color: rgba(255, 217, 0, 0.5);

  }
  &.warning {
    background-color: rgba(255, 0, 0, 0.5);

  }
  &.faulty {
    background-color: rgba(0, 0, 0, 0.5);

  }
}


.popover_percent{
  cursor:pointer;

  &.running {
    color: rgba(0, 128, 0, 0.5);

  }
  &.caution {
    color: rgba(255, 217, 0, 0.5);

  }
  &.warning {
    color: rgba(255, 0, 0, 0.5);

  }
  &.faulty {
    color: rgba(0, 0, 0, 0.5);

  }
}



