/*
.device_diagnostic_construct{
  width : 100%;


  .device_diagnostic_construct_title{
    font-weight: bold;
    font-size: 30px;
    color: #394251;
  }


  .device_diagnostic_construct_contained{
    display: block;
  }
}



.deviceDiagnosticConstruct{
  display: flex;

  justify-content: space-between;
}

.dataNullConstruct{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}*/

.device_diagnostic_construct{
  display: flex;
  width: 100%;
  flex-direction: column;

  .device_diagnostic_construct_component{
    display: block;
    width: 100%;

    align-items: center;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    padding: 10px;
    background-color: white;
  }
}




/* Widgets */
.diagnosticWidget_construct_toggle {
  display: block;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  background-color: white;

  .diagnosticWidget_construct_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;

    .diagnosticWidget_top_title{
      padding: 15px 10px 10px 20px;
    }

    /* 정사각형*/
    .diagnosticWidget_top_percentage {
      height: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      font-weight: bold;
      font-size: large;
      color: white;

      border-radius: 0 10px 0 0; /* 적절한 값으로 조절 */
      padding: 13px;
    }
  }

  .diagnosticWidget_construct_component{
    width: 100%;
    padding: 10px 20px 15px 20px;
    height: 100%;
  }
}
