.device_diagnostic_construct{
  width : 100%;

  .device_diagnostic_construct_title{
    font-weight: bold;
    font-size: 30px;
    color: #394251;
  }


  .device_diagnostic_construct_contained{
    display: block;
  }
}

