.support{
  display: flex;
  text-align: center;

  .navbar{
    position: relative;
    z-index: 2;

  }
  .contain{
    z-index: 1;
    position: absolute;

    top: 50%;

    left: 50%;

    margin: -50px 0 0 -50px;
  }
}