.deviceInfo_alarmBoxes{

}

.deviceIdTitle{
  font-weight: bold;
  font-size: 30px;
  color: #394251;
}




.eventInfo{
  display: block;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  padding: 10px;

  .eventText {
    padding: 15px;
    display: block;
    width: 100%;

    .eventTitle {
      font-weight: bold;
      font-size: 30px;
      color: #394251;
    }

    .eventSubTitle {
      /*font-size: 15px;
      color: #B0B7C3;*/
    }
  }
}





















.deviceInfo_construct{
  display: flex;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;


  .deviceInfo_group{
    display: block;
    width: 100%;
    padding: 10px 30px; // 왼쪽 Avatar 에 맞춰 더 늘리기
    text-align: left;

    /*.deviceInfo_avatar{
      display: flex;
      align-items: center;
      text-align: center;
      padding: 30px 30px 10px 30px;
      width: 100%;
    }*/

    .deviceGroup_title{
      font-weight: bold;
      font-size: 30px;
      color: #394251;
    }
    .deviceGroup_subTitle{
    }
  }

  .deviceInfo_profile{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;

    .basicInfoBox{
      display: flex;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      border-radius: 10px;
      padding: 10px;
      margin: 10px;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .description{
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        justify-content: center;
        align-items: center;

        .descriptionName{
          font-size: 15px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #B0B7C3;
        }
        .descriptionContain{
          font-size: 15px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #4E5D78;
          margin: 2px;
          padding: 2px;
        }

        .infoStatus{
          font-size: 15px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #4E5D78;

          &.running {
            border-radius: 5px;
            background-color: rgba(0, 128, 0, 0.05);
            color: green;
            width: auto;
          }
          &.caution {
            border-radius: 5px;
            background-color: rgba(255, 217, 0, 0.05);
            color: goldenrod;
          }
          &.warning {
            border-radius: 5px;
            background-color: rgba(255, 0, 0, 0.05);
            color: crimson;
          }
          &.faulty {
            border-radius: 5px;
            background-color: rgba(201, 201, 201, 0.05);
            color: dimgray;
          }
          /*&.Faulty {
            border-radius: 5px;
            background-color: rgba(255, 0, 0, 0.05);
            color: crimson;
          }*/
        }
      }
    }

  }

  .deviceInfo_alarms{
    display: flex;
    width: 100%;
    max-height: 400px;
    justify-content: space-between;

    .alertInfo{
      display: block;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      border-radius: 10px;
      width: 100%;

      .alertInfoTitle{
        font-weight: bold;
        font-size: 18px;
        color: #394251;
        text-align: left;
      }
      .alertInfoContain{
        display: flex;
        font-size: 15px;
        width: 100%;
        height: 100%;
      }
    }
  }
}