.deviceIdTitle{
  font-weight: bold;
  font-size: 30px;
  color: #394251;
}

.basicInfo{
  display: flex;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .description{
    padding: 10px;

    .descriptionName{
      font-size: 15px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #B0B7C3;
    }
    .descriptionContain{
      font-size: 15px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #4E5D78;
    }
  }
}

.alertInfo{
  display: block;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 100%;

  .alertInfoTitle{
    font-weight: bold;
    font-size: 18px;
    color: #394251;
  }
  .alertInfoContain{
    display: flex;
    font-size: 15px;
  }
}



.eventInfo {
  display: block;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  padding: 10px;

  .eventText {
    padding: 15px;
    display: block;
    width: 100%;

    .eventTitle {
      font-weight: bold;
      font-size: 30px;
      color: #394251;
    }

    .eventSubTitle {
      /*font-size: 15px;
      color: #B0B7C3;*/
    }
  }
}