.detailDevice{

}

.deviceInfo{
  display: block;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  padding: 10px;
  width: 100%;

  .deviceIdText{
    display: block;
    padding: 15px;
    width: auto;

    .deviceIdTitle{
      font-weight: bold;
      font-size: 30px;
      color: #394251;
    }
    .historyTable{
      display: flex;
      width: auto;
    }
  }
}