
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.dashboard_navbar_top{
  height: 80px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  color: #555;
  flex: 1;
  min-width: 100vi;
  background-color: white;
  position: fixed;




  .dashboard_navbar_top_wrapper{
    flex: 9px;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    nav{
      width: 100%;
    }


    .navbar-brand{
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 10px;


      .logo{
        display: flex;
        font-size: 20px;
        font-weight: bold;
        color: #000000;
      }

      .menu-bars {
        margin-bottom: 10px;
        margin-left: 2rem;
        font-size: 3rem;
        border-radius: 10px;
      }

    }

    .toggle{
      justify-content: left;
    }

    .toggleMenu{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;
      border-radius: 5px;

      input {
        border: none;
        outline: none;
        background: transparent;
        margin-right: 0;

        &::placeholder {
          font-size: 12px;
          width: auto;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;
        font-size: 15px;

        .icon {
          font-size: 20px;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  left: -100%;
  transition: 850ms;
  margin-top: 79px;
  //font-size: 1.8rem;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
  //font-size: 1.8rem;
}
.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  //font-size: 1.8rem;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  //font-size: 18px;
  //font-size: 1.8rem;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
.nav-text svg {
  //font-size: 18px;
  font-size: 1.8rem;
}

.nav-text a:hover {
  background-color: #1a83ff;
  //font-size: 1.8rem;
  //font-size: 25px;
}

.nav-menu-items {
  width: 100%;
  margin-right: 40px;

  span{
    //font-size: 1.8rem;
    margin-left: 16px;
    font-size: 1.2rem;
  }
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bottom{
  padding-top: 50px;
  display: flex;
  align-items: center;
  margin: 10px;

  .colorOption{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #d00000;
    cursor: pointer;
    margin: 5px;

    &:nth-child(1){
      background-color: whitesmoke;
    }
    &:nth-child(2){
      background-color: #333;
    }
    &:nth-child(3){
      background-color: darkblue;
    }
  }
}

.navigation-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 20px;
}
.navigation-menu li {
  margin: 0px 20px;
  padding-right: 20px;
}
.navigation-menu li a {
  text-decoration: none;
  color: white;
}
.active {
  color: goldenrod !important;
  font-weight: bold !important;
}
/* mobile view */
.mobile-navigation {
  list-style: none;
}
.mobile-navigation li {
  margin-top: 20px;
}
.mobile-navigation li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}

.basic-nav-dropdown{
  position: relative;
  right: 20px;
}
