
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

.navbar {
  height: 70px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  flex: 1;
  min-width: 100vi;
  background-color: white;


  .wrapper {
    flex: 9px;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-brand {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;

      .logo {
        display: flex;
        font-size: 20px;
        font-weight: bold;
        color: #000000;
      }

      .form-inline{
        display: flex;
        padding: 10px;
        margin: auto;
      }
    }


    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;
      border-radius: 5px;

      input {
        border: none;
        outline: none;
        background: transparent;
        margin-right: 0;

        &::placeholder {
          font-size: 12px;
          width: auto;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        .icon {
          font-size: 20px;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}
hr {
  height: 0;
  border: 0.5px solid rgb(230, 227, 227);
}

.center {
  padding-left: 10px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    .title {
      font-size: 10px;
      font-weight: bold;
      color: #999;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    li {
      display: flex;
      align-items: center;
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: #ece8ff;
      }

      .icon {
        font-size: 18px;
        color: #cc0023;
      }

      span{
        font-size: 13px;
        font-weight: 600;
        color: #888;
        margin-left: 10px;
      }
    }
  }
}

.bottom{
  display: flex;
  align-items: center;
  margin: 10px;

  .colorOption{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #d00000;
    cursor: pointer;
    margin: 5px;

    &:nth-child(1){
      background-color: whitesmoke;
    }
    &:nth-child(2){
      background-color: #333;
    }
    &:nth-child(3){
      background-color: darkblue;
    }
  }
}
