.diagnostic_graph{
  height: 100%;
  width: 100%;
}

.deviceWidget_icon{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  font-size: large;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: white;
}

.construct_component{
  width: 100%;
}

.diagnosticConstructure{
  display: block;

  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  background-color: white;

  .diagnosticConstruct_top{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .diagnosticConstruct_top_titles{
    }
    .diagnosticConstruct_top_items{
      display: flex;
      padding-right: 10px;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }

  .diagnosticConstruct_component{
    width: 100%;
  }
}

.dataNullConstruct, .dataErrorConstruct{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}