.defaultParam{
  justify-content: space-between;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  padding: 10px;

  width: 100%;
  background-color: white;
  align-items: center;
  color: #777777;
  font-weight: bold;

  .arrayTitle{
    font-size: 18px;
  }
}

.dailyData{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .dailyDataCount{
    color: #d00000;
    font-weight: bold;
    font-size: 20px;
  }
}

.keyCountArray{
  display: flex;
  padding: 0 10px 0 10px;
  /*justify-content: space-between;*/
}
/* KeyCount Function */
.keyCount{
  padding: 10px;
  margin: 10px 0 10px 10px;
  text-align: center;
  border-style: solid;
  border-color: #d00000;
  width: 100px;

  .keyCount_Key{
    color: #a80b28;
    font-size: 15px;
  }
  .keyCount_value{
    font-size: 15px;
  }
}

.resetReason{

  .resetReasonArray{
    display: flex;
    text-align: center;
    padding: 0 10px 10px 10px;

    /*justify-content: space-around;*/

    .resetReasonList{
      border-style: solid;
      border-color: #d00000;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;


      .resetReasonName{
        font-size: 15px;
        border-bottom-style: dashed;
      }

      .resetReasonName_List{
        display: flex;
        justify-content: space-between;
        padding-top: 5px;

        .resetReasonList_Key{
          color: #333333;
        }

        .resetReasonList_Value{
          color: #d00000;
        }
      }
    }
  }

}