.map1{
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  margin-bottom: 100px;
}
.map{
  display: flex;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
}

.mapChart{
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  margin-bottom: 100px;
}

.leaflet {
  height: 300px;
  width: 100%;
}

.leaflet-container {
  height: 500px;
  width: 100%;
}

#refreshButton {
  position: absolute;
  top: 12px;
  right: 80px;
  height: 45px;
  padding: 10px;
  z-index: 500;
}