.map1{
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  margin-bottom: 100px;
}
.map{
  display: flex;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
}

.mapChart{
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  margin-bottom: 100px;
}

.leaflet {
  height: 300px;
  width: 100%;
}

.leaflet-container {
  height: 500px;
  width: 100%;
}

#refreshButton {
  position: absolute;
  top: 12px;
  right: 80px;
  height: 45px;
  z-index: 500;
  border-radius: 10px;
}
#homeButton {
  position: absolute;
  top: 70px;
  right: 10px;
  width: 48px;
  height: 48px;
  z-index: 999;
  cursor: pointer;
  padding: 5px;
  display: block;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  //box-shadow: 0 1px 2px rgb(0 0 0 / 65%);
}
#home {
  width: 28px;
  height: 28px;
}