.ges{
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  background-color: #F8F9FA;

  .navbar {
    position: relative;
    z-index: 2;
  }

  .contain {
    padding-top: 100px;
    z-index: 1;
  }
}